body {
	margin: 0;
	padding: 0;
	display: flex;

}


/* background colors for easier visibility */
header {
	background-color: lightblue;
}
footer {
	background-color: lightpink;
}
main {
	background-color: yellow;
}